
hostname: symfony.vm
network-ip: 192.168.42.48/29

# This is based on the path of config.yaml
customPlaybook: ansible/awesome-playbook.yml

groups:
  backend-web: ["apache"]
  backend-db: ["mysql"]

# If you want to split your config file, you can specify multiple additional config files:
#imports:
#  - nodes/apache.yaml
#  - nodes/mysql.yaml

nodes:
  apache:
    type: httpd
    primary: true
    useSahredFolder: true
    vhostSymlinkTarget: "/project"
    vm:
      memory: 1024
      cpus: 1
      shared-folders:
        ../projekt: "/project"
    php:
      version: 7.1
      configs:
        date:
          timezone: Europe/Berlin
        xdebug:
          cli_color: 1
          max_nesting_level: 500
          remote_enable: 1
          idekey: PHPSTORM
          var_display_max_children: 512
          var_display_max_data: 2560
          var_display_max_depth: 200
          profiler_enable_trigger: 1
    docroot: public
  mysql:
    type: mysql
    vm:
      memory: 2048
      cpus: 2
    databases:
      project:
      # List of SQL dumps to import into the DB "project".
        - dumps/project.sql
        - dumps/project.sql.gz
        - dumps/project.sql.bz2
      # Use tilde (~) to skip dump import (e.g. you have no dump)
      project2: ~
  search:
    type: elastic
    vm:
      memory: 1024
      cpus: 2
    elasticsearch:
      version: "5.4.3"
