hostname: project.vm
# CIDR for the network. Ensure that the network contains enough IP addresses!
network-ip: 192.168.42.48/29

# This is based on the path of config.yaml
customPlaybook: ansible/awesome-playbook.yml

groups:
  web: ["apache"]
  database: ["mysql"]
  elasticsearch: ["search"]

# If you want to split your config file, you can specify multiple additional config files:
#imports:
#  - nodes/apache.yaml
#  - nodes/mysql.yaml

nodes:
  apache:
    primary: true
    useSharedFolder: true
    vhostSymlinkTarget: "/project"
    vm:
      memory: 1024
      cpus: 1
      shared-folders:
        ../projekt: "/project"
    php:
      # Only PHP 5.6 and up are supported
      version: 7.1
      # You can add your own required PHP extensions:
      extensions:
        - php-ast
      configs:
        date:
          timezone: Europe/Berlin
        xdebug:
          cli_color: 1
          max_nesting_level: 500
          remote_enable: 1
          idekey: PHPSTORM
          var_display_max_children: 512
          var_display_max_data: 2560
          var_display_max_depth: 200
          profiler_enable_trigger: 1
          collect_params: 1
          trace_enable_trigger: 1
          trace_format: 2
          trace_output_name: "trace.%R.%t"
    docroot: public
  mysql:
    vm:
      memory: 2048
      cpus: 2
    databases:
      project:
      # List of SQL dumps to import into the DB "project".
        - dumps/project.sql
        - dumps/project.sql.gz
        - dumps/project.sql.bz2
      # Use tilde (~) to skip dump import (e.g. you have no dump)
      project2: ~
  search:
    vm:
      memory: 1024
      cpus: 1
    elasticsearch:
      # Supported ES versions:
      #   2.1.0, 2.1.1
      #   2.2.0, 2.2.1
      #   2.3.0, 2.3.1, 2.3.2, 2.3.3, 2.3.4
      #   2.4.1
      #   5.1.1
      #   5.4.0, 5.4.3
      version: "5.4.3"
