hostname: symfony.vm
network-ip: 192.168.42.48/29
groups:
  backend-web: ["apache"]
  backend-db: ["mysql"]

nodes:
  apache:
    type: httpd
    primary: true
    useSahredFolder: true
    vhostSharedFolder: "/project"
    # this is based on the path of config.yaml
    customPlaybook: ansible/awesome-playbook.yml
    vm:
      memory: 1024
      cpus: 1
      shared-folders:
        ../projekt: "/project"
    php:
      version: 7.1
      configs:
        date:
          timezone: Europe/Berlin
        xdebug:
          cli_color: 1
          max_nesting_level: 500
          remote_enable: 1
          idekey: PHPSTORM
          var_display_max_children: 512
          var_display_max_data: 2560
          var_display_max_depth: 200
          profiler_enable_trigger: 1
    docroot: public
  mysql:
    type: mysql
    vm:
      memory: 2048
      cpus: 2
    databases:
      - "project"
